.friend-container {
  border-radius: 10px;
  border: 2px solid #242424;
  background-color: white;

  padding: 10px;
}

.friend-name {
  font-weight: 500;
  font-size: 18px;
}

.friend-status.statusGreen {
  color: green;
}

.friend-status.statusRed {
  color: red;
}
