.table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
  border: 2px solid black;
}

.table thead th{
  background-color: #343434;
  color: white;
  border: 2px solid #242424;
  text-align: center;
}